/*
Theme Name: Modelisme Occitanie Theme
Author: Anonymous
Description: Thème modelisme occitanie
Version: 0.0.1
Text Domain: mi_occitanie
Tags: bootstrap
*/
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    height: 100%;
    background-color: rgba(34, 34, 34, 0.6);
    display: flex;
    flex-direction: column;
}

html {
    height: 100%;
    position: relative;
    margin: 0px !important;
    background-color: rgba(34, 34, 34, 1);
}

.with-bg {
    background-image: url('assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-title {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 3px 3px 5px #100e1b;
}

.navbar {
    transition: 0.75s;
    border-radius: 5px;
    background-color: rgba(2, 117, 216, 0.6);
}
    .navbar:hover {
        background-color: rgba(2, 117, 216, 1);
    }

.footer-container {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #FFF;
    background-color: rgba(34, 34, 34, 0.8);
    padding: 0.5%;
}

.home-post {
    transition: 0.75s;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1%;
    width: 40%;
    border-radius: 5px;
    margin-bottom: 5px;
}

    .home-post:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.woocommerce ul.products li.product .price {
    color: #77a464;
    display: block;
    font-weight: 400;
    margin-bottom: .5em;
    font-size: 1.2em;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title{
    font-size:1.5em;
    }
.woocommerce nav.woocommerce-pagination ul{
    border:none;
    }
    .woocommerce .woocommerce-pagination ul.page-numbers li, .woocommerce-page .woocommerce-pagination ul.page-numbers li {
    display: inline-block;
    margin: 5px;
}
.woocommerce nav.woocommerce-pagination ul li span.current {
    background: #337ab7;
    color: #fff;
    padding: 12px;
}
.woocommerce-pagination ul.page-numbers a.page-numbers {
    color: #444;
    padding: 12px;
    margin: 0px;
    background: #ddd;
}